<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.shuan.Project">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name="com.shuan.Project.Utils.Common"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true">
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name="com.shuan.Project.launcher.Launcher"
            android:screenOrientation="portrait"
            android:theme="@style/Profile">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.shuan.Project.signup.SelectionActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Profile"/>
        <activity
            android:name="com.shuan.Project.signup.SignupActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:theme="@style/Profile"/>
        <activity
            android:name="com.shuan.Project.signup.employee.EducationActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="com.shuan.Project.signup.employee.SkillActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="com.shuan.Project.signup.employee.PersonalActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="com.shuan.Project.signup.employee.WorkActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:theme="@style/Profile"/>
        <activity
            android:name="com.shuan.Project.signup.employer.CompanyDetails"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:theme="@style/Profile"/>
        <activity
            android:name="com.shuan.Project.launcher.LoginActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:theme="@style/Profile"/>

        <!-- Employer Activities -->

        <activity
            android:name="com.shuan.Project.employer.EmployerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppBaseTheme.Profile" />

        <!-- Junior Activities -->

        <activity
            android:name="com.shuan.Project.employee.JuniorActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Junior.Profile" />
        <activity
            android:name="com.shuan.Project.resume.UpdateJuniorResumeActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:theme="@style/Junior">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.shuan.Project.employee.JuniorActivity" />
        </activity>
        <activity
            android:name="com.shuan.Project.resume.JuniorResumeGenerate"
            android:screenOrientation="portrait"
            android:theme="@style/Junior">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.shuan.Project.employee.JuniorActivity" />
        </activity>

        <!-- Senior Activities -->

        <activity
            android:name="com.shuan.Project.employee.SeniorActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Senior" />
        <activity
            android:name="com.shuan.Project.resume.UpdateSeniorResumeActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:theme="@style/Senior">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.shuan.Project.employee.SeniorActivity" />
        </activity>
        <activity
            android:name="com.shuan.Project.resume.ExpResumeGenerate"
            android:screenOrientation="portrait"
            android:theme="@style/Senior">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.shuan.Project.employee.SeniorActivity" />
        </activity>
        <activity android:name="com.shuan.Project.about.About"
            android:theme="@style/Profile"/>
        <activity android:name="com.shuan.Project.about.Help"
            android:theme="@style/Profile"/>
        <activity
            android:name="com.shuan.Project.profile.ProfileViewActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Junior.Profile" />
        <activity android:name="com.shuan.Project.signup.employer.CompanyContactInfoActivity"
            android:theme="@style/AppBaseTheme"/>
        <activity android:name="com.shuan.Project.signup.employer.AboutCompanyActivity"
            android:theme="@style/AppBaseTheme"/>
        <activity android:name="com.shuan.Project.employer.JobPostActivity"
            android:theme="@style/AppBaseTheme"/>

        <activity
            android:name="com.shuan.Project.employer.PostViewActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppBaseTheme.Profile"></activity>

        <activity
            android:name="com.shuan.Project.search.SearchActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"></activity>

        <activity
            android:name="com.shuan.Project.resume.ResumeEditActivity"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name="com.shuan.Project.employer.ShortListActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppBaseTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.shuan.Project.employer.EmployerActivity" />
        </activity>
        <activity
            android:name="com.shuan.Project.resume.UpdateResumeActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:theme="@style/Senior"></activity>
        <activity
            android:name="com.shuan.Project.employer.PdfViewActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppBaseTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.shuan.Project.employer.ShortListActivity" />
        </activity>
        <activity
            android:name="com.shuan.Project.employer.InterviewPanelActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppBaseTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.shuan.Project.employer.ShortListActivity" />
        </activity>
        <activity
            android:name="com.shuan.Project.profile.ProfileActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Junior.Profile"></activity>
        <activity
            android:name="com.shuan.Project.employee.InterViewActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.shuan.Project.activities.CommentsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"></activity>
        <activity
            android:name="com.shuan.Project.setting.SettingActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.shuan.Project.employee.SeniorActivity" />
        </activity>
        <activity
            android:name="com.shuan.Project.setting.ChangePasswrd"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.shuan.Project.setting.SettingActivity" />
        </activity>
        <activity
            android:name="com.shuan.Project.employer.AddCompanyInfoActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.shuan.Project.employer.EmployerActivity" />
        </activity>
        <activity
            android:name="com.shuan.Project.search.EmployerSearchActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppBaseTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.shuan.Project.employer.EmployerActivity" />
        </activity>
        <activity
            android:name="com.shuan.Project.search.EmployerSearchResultActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppBaseTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.shuan.Project.search.EmployerSearchActivity" />
        </activity>
        <activity
            android:name="com.shuan.Project.search.EmplyeeSearchActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.shuan.Project.employee.SeniorActivity" />
        </activity>
        <activity android:name="com.shuan.Project.search.EmployeeSearchResultActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.shuan.Project.search.EmplyeeSearchActivity" />
        </activity>
        <activity
            android:name="com.shuan.Project.employee.InviteActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.shuan.Project.launcher.ForgotPassword"
            android:screenOrientation="portrait"
            android:theme="@style/Profile"/>
        <activity
            android:name="com.shuan.Project.signup.employee.CSLActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:theme="@style/Profile"/>
    </application>

</manifest>